/*Estilizando formulários*/

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

fieldset {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #CCC;
	background: #f8f8f8;

}

legend {
	font-weight: bold;

}

label {
	display: block;
	cursor: pointer;
}

/*[type="text"] esse comando serve para definir todos os inputs que o atributo type é igual a text*/
input [type="text"] { 
	width: 20em;
}

textarea {
	width: 20em;
	height: 10em;
}

input.radio {
	margin-right: 1em;
}